<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form method="post" action="/user/logedout">
    <button name="logout">
        LOGOUT
    </button>
</form>
</body>
</html>