<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="/publisher/index">BACK</a>
<h1>Publisher add</h1>
<form method="post" action="/publisher/add" target="_self">
    <a>naam</a> <input type="text" name="publisher">
    <input type="submit" value="ADD" >
</form>

</body>
</html>