<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Hallo en welkom bij de Login!</h1>
<form method="post" action="/user/login">
    <input type="text" name="username" placeholder="username">
    <p></p>
    <input type="password" name="password" placeholder="password">
    <p></p>
    <input type="submit" value="LOGIN">
</form>
</body>
</html>